.timeline
  .timeline-item
    .timeline-item-content
      %h3.h4 12.12.1212 12:12
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
  .timeline-item
    %span
    .timeline-item-content
      %h3.h4 12.12.1212 12:12
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
  .timeline-item
    %span
    .timeline-item-content
      %h3.h4 12.12.1212 12:12
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
  .timeline-item
    %span
    .timeline-item-content
      %h3.h4 12.12.1212 12:12
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
